<div class="container__quizz">
    <div class="quizz__logo">
      <img src="/assets/imgs/logo.png" alt="">
      <h3>{{title}}</h3>
    </div>  
  
    <div  *ngIf="!finished" 
          class="quizz__questions">
      <h3>{{questionSelected.question}}</h3>
    </div> 
  
    <div *ngIf="!finished" class="quizz__options">
      <button 
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="buttonPress(option.alias)"
      class="btn-option">
          {{option.name}}
      </button>
    </div>
  
    <div *ngIf="finished" class="quizz__results">
      <h1>Your result is...</h1>
      <div class="quizz__results2">
        <p>{{answerSelect.text}}</p>
        <img [src]="answerSelect.image" alt="Result Image">
      </div>
      <button class="btn-return" (click)="restartQuizz()">Do it Again!</button>
    </div>
  </div>